= render partial: 'shared/repo', object: @repo

- if current_user
  = form_for Comment.new, :html => {:class => 'well form-horizontal'} do |f|
    = f.text_area :body, rows: 3, class: 'span10'
    = f.submit 'Submit', class: 'btn btn-primary btn-large'
- else
  %p Please #{link_to 'login', login_path} with your GitHub account to add comment on this repository.

- @repo.comments.each do |comment|
  .comment-card.well
    .owner-avatar.pull-left= image_tag comment.owner.avatar_url
    %p.body= comment.body
    %span.byline Posted by #{link_to comment.username, "http://github.com/" + comment.username} at #{comment.created_at}
    - if current_user.try(:admin)
      .admin
        = link_to '', { href: "#{repo_path(@repo)}/comments/#{comment.id}", :data => { :confirm => 'Are you sure?' }, method: :delete, class: 'btn-mini btn-danger btn' } do
          <i class="icon-trash icon-white"></i> Delete

