
%p
  GitLiberty.org is a crowd-sourced directory of software projects hosted by #{link_to 'GitHub.com', 'http://github.com/'} that contribute in some way to the cause of liberty.

- if current_user
  = form_for Repo.new, :html => {:class => 'well form-inline'} do |f|
    = f.text_field :full_name, class: 'input-xlarge', hint: "http://github.com/user/repo/"
    = f.submit 'Add Repository to GitLiberty', class: 'btn btn-primary'
- else
  %p Please #{link_to 'login', login_path} with your GitHub account to add repositories to GitLiberty.

.row
  .top_repos.span8.pull-left
    %h2 Top 10 Repositories by Votes
    = render partial: 'shared/repo', collection: @repos
  .recent_commits.span4.pull-left
    %h2 Recent Commits
    = render partial: 'shared/push', collection: @pushes

